<div class="backdrop" (click)="closeDialog()"></div>
<!-- <div class="dialog" > -->
<div class="dialog" (click)="$event.stopPropagation()">
<h1>Notifications</h1>
@for(notification of (notifications$ | async); track $index) {
    <div (click)="navigateToTheEvent(notification)" class="flex items-start gap-3 p-4 hover:bg-gray-50 transition-colors">
        <app-notfication-message [notification]="notification"></app-notfication-message>
    </div>
}@empty {
    <div>No notifications available.</div>
}

